@model IList<ProductModel>

<main>
	<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
		<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
			@foreach (var p in Model)
			{
				<div class="col">
					<div class="card h-100 shadow-sm">
						<img src="@p.PicturePath" class="card-img-top" alt="...">
						<div class="card-body">
							<div class="clearfix mb-3">
								<span class="float-start badge rounded-pill bg-primary">@p.Name</span>
								<span class="float-end price-hp">@p.Price &euro;</span>
							</div>
							<h5 class="card-title">@p.Description</h5>
							<div class="text-center my-4">
								<a href="#" class="btn btn-warning">Check offer</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</main>



